<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cribdle</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')
                               }}">
  <link rel="preload" as="image" href="{{ url_for('static',
                                       filename='img/cribbage-board.svg') }}">
  <!-- favicons -->
  <link rel="shortcut icon" href="{{ url_for('static',
                                  filename='img/favicon/favicon.ico') }}">
  <!-- alternate favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',
                                                     filename='img/favicon/apple-touch-icon.png')
                                                     }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',
                                                        filename='img/favicon/favicon-32x32.png')
                                                        }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',
                                                        filename='img/favicon/favicon-16x16.png')
                                                        }}">
</head>
<body>
  <nav class="nav">
    <a href="/" class="nav__link nav__link--active">Game</a>
    <a href="/about" class="nav__link">About</a>
  </nav>
  <main class="main">
    <div class="game-container">
      <div class="cribbage-board-wrapper">
        <div class="cribbage-board">
          <img class="cribbage-board__image cribbage-board__image--svg" src="{{ url_for('static', filename='img/cribbage-board.svg') }}" alt="Cribbage Board">
        <img class="cribbage-board__image cribbage-board__image--png" src="{{ url_for('static', filename='img/cribbage-board-mobile.png') }}" alt="Cribbage Board (Mobile)" style="display: none;">
        </div>
      </div>
      <div class="scoreboard">
        <div class="scoreboard-left"></div>
        <div class="scoreboard-right"></div>
      </div>
      <button class="submit-btn" id="submit-btn" disabled>Submit</button>
    </div>
    <div class="hand-container"></div>
  </main>
  <div id="endGamePopup" class="popup">
    <div class="popup-content">
      <h2 id="endGameTitle"></h2>
      <p id="endGameMessage"></p>
      <button id="shareButton">Share Result</button>
      <button id="closePopup">Close</button>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/game.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script data-goatcounter="https://cribdle.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>
</html>
